body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF3E0;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background-color: #47B395;
    color: #212A3C;
    padding: 20px 0;
}

.logo {
    display: block;
    max-height: 100px;
    margin: 0 auto 10px;
}

header h1 {
    text-align: center;
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    color: #333;
}

main p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #333;
}

main address {
    margin-top: 20px;
    line-height: 1.6em;
}

/* Adjust list item spacing */
ul {
    padding-left: 20px; /* Adjust padding as needed */
    list-style-position: inside; /* Ensures bullets are closer to text */
}

ul li {
    margin-left: 0; /* Remove left margin */
}

footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer .privacy-policy {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

footer .privacy-policy a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

footer .privacy-policy a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
}
